<div id='rulesDiv'><p>Match as many images before time runs out! Press (g) to start!</p></div>

<div id='ptContainer'>
  <div id='ptDiv'>
    <div id='timerDiv'></div>
    <div id='pointsDiv'></div>
  </div>
</div>

<div id='elementDiv'></div>

<div id='metricsDiv'>
  <div id="guessDiv">
    <div id='answeredDiv'></div>
    <div id='correctDiv'></div>
    <div id='incorrectDiv'></div>
  </div>
</div>

<div id='newDiv'><a id='new' href="">New Game (n) or Start Game (g)</a></div>
<div id="scoresDiv"><a id='scores' href='/scores'>High Scores (h)</a></div>

<div id="buttonDiv">
  <div id="guessDiv">
    <div id="sameDiv"><a id='same' href=''>Same (s)</a></div>
    </div>
    <div id="differentDiv"><a id='different' href='#'>Different (d)</a></div>
  </div>
</div>


