<div id='timerDiv'></div>
<div id='pointsDiv'></div>

<div id='elementDiv'></div>
<div id='answeredDiv'></div>
<div id='correctDiv'></div>
<div id='incorrectDiv'></div>

<div id='newDiv'><a id='new' href="">Start Game</a></div>
<div id="sameDiv"><a id='same' href=''>Same</a></div>
<div id="differentDiv"><a id='different' href='#'>Different</a></div>

