<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p><div id='timer'> </div></p>
<div id='element'></div>
<div id='same'><a id='same' href="/">Same</a></div>
<div id='different'><a id='different' href="/">Different</a></div>

