<h1>Memory App</h1>

<p><div id='timer'></div></p>
<p><div id='points'></div></p>
<p><div id='answered'></div></p>
<p><div id='correct'></div></p>
<p><div id='incorrect'></div></p>

<div id='element'></div>
<div><a id='new' href="#">New Game</a></div>
<div id="same"></div>
<div id="different"></div>
<div></div>

