<h1>Memory App</h1>

<p><div id='timer'></div></p>
<p><div id='points'></div></p>
<p><div id='answered'></div></p>
<p><div id='correct'></div></p>
<p><div id='incorrect'></div></p>

<div id='elementDiv'></div>
<div id='newDiv'><a id='new' href="">Start Game</a></div>
<div id="sameDiv"><a id='same' href=''>Same</a></div>
<div id="differentDiv"><a id='different' href='#'>Different</a></div>
<div></div>

