body {
   min-width: 640px;
   font-size: 20px;
   color: #FCFBF3;
   font-family: 'Montserrat', sans-serif;
   background: #fff;
   background-image: url(/assets/tile.png);
  }

a:link, a:visited {color: #FF5333;}
a:hover, a:active {color: #FCFBF3;}
a {text-decoration: none;}

#header, #footer {display: block;}

footer, #metricsDiv {
  font-size: 20px;
}

img {
  margin: auto auto;
}

td, th {
  text-align: center;
  padding: 10px;
}

#rulesDiv, #timerDiv, #pointsDiv, #metricsDiv, #newDiv, #buttonDiv, #scoresDiv {
  height: 60px;
  padding: 10px;
  position: relative;
  text-align: center;
  margin: 5px;
}

#guessDiv {
  margin: 0 auto;
  width: 610px;
}

#answeredDiv, #correctDiv, #incorrectDiv {
  padding-top: 10px;
  height: 50px;
  width: 200px;
  float: left;
  margin: 0 auto;
}

#sameDiv, #differentDiv {
  padding-top: 15px;
  height: 50px;
  width: 300px;
  float: left;
  margin: 0 auto;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

#sameDiv {background-image: url(/assets/tile-green.png);}

#differentDiv {background-image: url(/assets/tile-red.png);}

#elementDiv {
  padding: 10px;
  position: relative;
  text-align: center;
  width: 275px;
  height: 275px;
  margin: 0 auto;
  background-color: white;
  border: 5px solid #FCFBF3;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#article{
    border: 5px solid #FCFBF3;
}
