body {
   min-width: 640px;
   font-size: 30px;
   color: #FCFBF3;
   font-family: 'Montserrat', sans-serif;
   background: #fff;
   background-image: url(/assets/tile.png);
  }

a:link, a:visited {color: #FF5333;}
a:hover, a:active {color: #FCFBF3;}

header, footer {
   display: block;
   margin: 5px;
   padding: 5px;
   min-height: 100px;
   border: 1px solid #eebb55;
   }

footer, #metricsDiv {
  font-size: 20px;
}

#rulesDiv, #timerDiv, #pointsDiv, #metricsDiv, #elementDiv, #newDiv, #buttonDiv, #scoresDiv {
  height: 60px;
  padding: 5px;
  border: 1px solid #eebb55;
  position: relative;
  text-align: center;
  margin: 5px;
}

#guessDiv {
  margin: 0 auto;
  width: 610px;
}

#answeredDiv, #correctDiv, #incorrectDiv {
  border: 1px solid #fff;
  height: 60px;
  width: 200px;
  float: left;
  margin: 0 auto;
}

#sameDiv, #differentDiv {
  border: 1px solid #fff;
  height: 60px;
  width: 300px;
  float: left;
  margin: 0 auto;
}

#elementDiv {
  width: 275px;
  height: 275px;
  margin: 0 auto;
  background-color: white;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 5px solid #FCFBF3;

}

img {
  margin: auto auto;
}

td, th {
  text-align: center;
  padding: 10px;
}

#article {
 margin: 5px;
 padding: 5px;
 border: 1px solid #cccc33;
 overflow: auto;
 -webkit-flex: 3 1 60%;
         flex: 3 1 60%;
 -webkit-order: 2;
         order: 2;
 }

@media all and (min-width: 640px) {

 #article {

  -webkit-order: 0;
          order: 0;
 }

 #main > header, footer {
  min-height: 50px;
  max-height: 50px;
 }
}
