body {
   min-width: 640px;
   font: 20px Helvetica;
   background: #fff;
  }

header, footer {
   display: block;
   margin: 5px;
   padding: 5px;
   min-height: 100px;
   border: 1px solid #eebb55;
   background: #ffeebb;
   }

#timerDiv, #pointsDiv, #metricsDiv, #elementDiv, #newDiv, #buttonDiv {
  height: 60px;
  padding: 5px;
  border: 1px solid #eebb55;
  position: relative;
  text-align: center;
  margin: 5px;
}

#guessDiv {
  margin: 0 auto;
  width: 610px;
}

#answeredDiv, #correctDiv, #incorrectDiv {
  border: 1px solid #fff;
  height: 60px;
  width: 200px;
  float: left;
  margin: 0 auto;
}

#sameDiv, #differentDiv {
  border: 1px solid #fff;
  height: 60px;
  width: 300px;
  float: left;
  margin: 0 auto;
}

#elementDiv {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

ul li {  list-style-type: none;}

#article {
 margin: 5px;
 padding: 5px;
 border: 1px solid #cccc33;
 background: #dddd88;
 overflow: auto;
 -webkit-flex: 3 1 60%;
         flex: 3 1 60%;
 -webkit-order: 2;
         order: 2;
 }

@media all and (max-width: 640px) {


 #article {

  -webkit-order: 0;
          order: 0;
 }

 #main > header, footer {
  min-height: 50px;
  max-height: 50px;
 }
}
