<!DOCTYPE html>
<html>

<head>
  <title>DoubleMatcha</title>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div id="header">
    <h1>DoubleMatcha</h1>
  </div>

  <div id="article">
    <%= yield %>
  </div>


  <div id="footer">
    WDI Reduce February 2014 - Made with love and care by Jesse Ma
  </div>

</body>
</html>
