<!DOCTYPE html>
<html>

<head>
  <title>Memory App</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

  <header>
    <h1>Memory App</h1>
  </header>

  <div id="article">
    <%= yield %>
  </div>


  <footer>
    WDI Reduce February 2014 - Made with love and care by Jesse Ma
  </footer>

</body>
</html>
